@model SimpleBlog.Web.Areas.Admin.ViewModels.UsersNew

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type="email" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    
    @Html.Partial("_RoleEditor", Model.Roles)

    <input type="submit" value="Create User" class="btn btn-primary" />
    <a href="@Url.Action("index")">or cancel</a>
}
