@model SimpleBlog.Web.Areas.Admin.ViewModels.UsersResetPassword

<h2>Reset Password for @Model.Username</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    
   <input type="submit" value="Reset password" class="btn btn-primary" />
   <a href="@Url.Action("index")">or cancel</a>
}
