@using System.Web.Optimization

@helper SelectedTabClass(string tabName)
{
    if (tabName == ViewBag.SelectedTab)
    {
        @: active
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/admin/styles")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SimpleBlog", "Index", "Posts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@SelectedTabClass("posts")">
                        @Html.ActionLink("Posts","Index","Posts",new { area = "admin" }, null)
                    </li>
                    <li class="@SelectedTabClass("users")">
                        @Html.ActionLink("Users","Index","Users",new { area = "admin" }, null)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="padding-top:50px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/admin/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>